<div class="main">
    <div class="chat">
        <div class="chat-area">
            <div class="chat-container">
                <div class="chat-text">
                    <p class="user-name">テスト太郎<span class="date-time">2020/07/17[Fri] 00:00</span></p>
                    <p class="main-text">あああああああああああああああああああああああああああ</p>
                </div>
                <div class="chat-edit">
                    <ul>
                        <li>
                            <a href="/">edit</a>
                        </li>
                        <li>
                            <a href="/">delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chat-container">
                <div class="chat-text">
                    <p class="user-name">テスト太郎<span class="date-time">2020/07/17[Fri] 00:00</span></p>
                    <p class="main-text">あああああああああああああああああああああああああああ</p>
                </div>
                <div class="chat-edit">
                    <ul>
                        <li>
                            <a href="/">edit</a>
                        </li>
                        <li>
                            <a href="/">delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chat-container">
                <div class="chat-text">
                    <p class="user-name">テスト太郎<span class="date-time">2020/07/17[Fri] 00:00</span></p>
                    <p class="main-text">あああああああああああああああああああああああああああ</p>
                </div>
                <div class="chat-edit">
                    <ul>
                        <li>
                            <a href="/">edit</a>
                        </li>
                        <li>
                            <a href="/">delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-form">
        <form>
            <input class="chatInput_textarea" type="text" placeholder="ここにメッセージ内容を入力">
            <input class="send_button" type="submit" value="SEND">
        </form>
    </div>
</div>